<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <strong class="headclr">Add Manage Form Title</strong>
          <button type="button" class="btn pull-right msbtn" style="background:steelblue;font-size:10px;" routerLink='/Homescreen/Master/MFTittle'>Back</button>
        </div>
        <div class="col-md-12" style="padding:5px;">&nbsp;</div>
        <div class="col-md-12">
          <div class="col-md-6">
            <mat-form-field style="width:100%;">
              <input matInput placeholder="Form Name" [(ngModel)]="data.tittle">
            </mat-form-field>
          </div>
          <div class="col-md-6">
              <button type="button" class="btn btn-steelblue" (click)="add_tittle(data)">Save</button>
          </div>
        </div>
        <!-- <div class="col-md-12">
          <div class="col-md-6">
            <button type="button" class="btn btn-steelblue pull-right">Save</button>
          </div>
          <div class="col-md-6">
            &nbsp;
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>