/* .form-gap {
    padding-top: 50px;
}

.load-spinner{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;  
} */



/* New css forgot page */

.login-block {
    background: steelblue;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, royalblue, steelblue);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, royalblue, steelblue);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: left;
    width: 100%;
    padding: 75px 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.banner-sec {
    background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat left bottom;
    background-size: cover;
    min-height: 500px;
    border-radius: 0 10px 10px 0;
    padding: 0;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    border-radius: 0 10px 10px 0;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.login-sec {
    padding: 50px 30px;
    position: relative;
}

.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}

.login-sec .copy-text i {
    color: lightblue;
}

.login-sec .copy-text a {
    color: steelblue
}

.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: steelblue;
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}


/* .btn-login{background: steelblue; color:#fff; font-weight:600;border-radius:8px;}  */

.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}

.banner-text h2 {
    color: #fff;
    font-weight: 600;
}

.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FFF;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
}

.banner-text p {
    color: #fff;
}

.imgsize {
    height: 516px !important;
    width: 780px;
    /* background-size:cover; */
    /* border-radius: 0 10px 10px 0;
           padding:0; */
}

.forgotp {
    padding-top: 20px;
}

.size {
    width: 100%!important;
}


/* changed sign in page css */
html,body{
    margin:0;
    height:100%;
    overflow:hidden;
}
.Fullscreen{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    position: absolute;
    background-color: steelblue;
}
.imgsiz {
    position: absolute;
    display:block;
    width:100%; height:100%;
    object-fit: cover;

}
.login-page {
    width: 360px;
    /* padding: 20px 0; */
    margin: auto;
}

.form {
    height:550px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    background: #FFFFFF;
    max-width: 360px;
    /* margin: 0 auto 100px; */
    margin-top: 49.8px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    opacity: 0.8;
}

.form button {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: linear-gradient(to top, #3333ff 0%, #0099ff 100%);
    width: 100%;
    border: 0;
    border-radius: 8px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: linear-gradient(to top, #3333ff 0%, #0099ff 100%);
}

.form button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.form button span:after {
    content: '\00bb';
    position: absolute;
    font-size: 16px;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.form button:hover span {
    padding-right: 25px;
}

.form button:hover span:after {
    opacity: 1;
    right: 0;
}

.heading{
    font-size: 20px;
}

.subheading{
    margin:0px;
    padding: 25px 0px 0px 0px;
    font-size: 18px;
}