.btn-steelblue {
    color: steelblue;
    background: white;
    border: 1px solid steelblue;
}

.btn-steelblue:hover {
    color: white;
    background: steelblue;
    border: 1px solid steelblue;
}

.btn-red {
    color: steelblue;
    background: white;
    border: 1px solid red;
}

.btn-red:hover {
    color: white;
    background: red;
    border: 1px solid red;
}