<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="headercolor">
              <mat-checkbox color='primary'></mat-checkbox>&nbsp; <strong>
                Past Medical History</strong>
            </mat-panel-title>
            <!-- <md-panel-description>
                Previous Medical History
              </md-panel-description> -->
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="First Name">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="headercolor">
              <mat-checkbox color='primary'></mat-checkbox>&nbsp; <strong>Milestones</strong>
            </mat-panel-title>
            <!-- <md-panel-description>
                Preview milestone
              </md-panel-description> -->
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="First Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="headercolor">
              <mat-checkbox color='primary'></mat-checkbox>&nbsp; <strong>
                Immunization</strong>
            </mat-panel-title>
            <!-- <md-panel-description>
                Immunization report
              </md-panel-description> -->
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="First Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="headercolor">
              <mat-checkbox color='primary'></mat-checkbox>&nbsp; <strong>
                Nutritional History</strong>
            </mat-panel-title>
            <!-- <md-panel-description>
                  Nutritional list
                </md-panel-description> -->
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="First Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="headercolor">
              <mat-checkbox color='primary'></mat-checkbox>&nbsp; <strong>
                Family History</strong>
            </mat-panel-title>
            <!-- <md-panel-description>
                  Family history
                  </md-panel-description> -->
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="First Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-steelblue pull-right">Save & Preview</button>
  </div>
</div>