<div class="row">
  <div class="col-md-12">
    <div class="">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table borderless" style='text-align: center'>
              <thead class="headercolor">
                <tr>
                  <th style='text-align: center;font-weight:600;'>&nbsp;</th> 
                  <th style='text-align: center;font-weight:600;'>Types</th>
                  <th style='text-align: center;font-weight:600;'>Units</th>
                  <th style='text-align: center;font-weight:600;'>Measured By</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <mat-checkbox color='primary'></mat-checkbox>
                  </td>
                  <td>Height</td>
                  <td>5ft</td>
                  <td>Admin</td>
                </tr>
                <tr>
                  <td>
                    <mat-checkbox color='primary'></mat-checkbox>
                  </td>
                  <td>Weight</td>
                  <td>80kg</td>
                  <td>Admin</td>
                </tr>
                <tr>
                  <td>
                    <mat-checkbox color='primary'></mat-checkbox>
                  </td>
                  <td>Temperature</td>
                  <td>104farahheit</td>
                  <td>Admin</td>
                </tr>
                <tr>
                  <td>
                    <mat-checkbox color='primary'></mat-checkbox>
                  </td>
                  <td>Pulse</td>
                  <td>140/100 MMHG</td>
                  <td>Admin</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="" style="font-weight:600;">
            <mat-checkbox color='primary'></mat-checkbox>&nbsp; NOTES:</p>
          <p class=""> &nbsp; &nbsp; &nbsp; &nbsp; The course enables you to master front-end web development with Angular 2. It helps
            you gain in-depth knowledge of concepts such as TypeScript, Bootstrap Grid System, Dependency Injections, SPA
            (Single Page Application), Directives, Forms, Pipes, Promises, Observables, and understand the testing of Angular
            2 class.</p>
        </div>
      </div>
      <button class="btn btn-steelblue pull-right">Save & Preview</button>
    </div>
  </div>
</div>