.borderless td, .borderless th {
    border: none;
}

.headercolor{
    background-color:lightblue;
    font-weight:600;
}


.texthighlightcolor{
    font-weight: 600;
    color: steelblue;
}

.btn-white{
    border-radius: 50px;
    background-color: steelblue;
    color: white;
    border: 1px solid lightgray;
    cursor: default;
    font-size: 10px;
}
.btn-white:hover{
    background-color: white;
    color:steelblue;
}
.badgewhite{
    background-color: white;
    color:steelblue;
    cursor: pointer;
    font-size:10px;
    position: relative;
    left: 18px;
}
.badgewhite:hover{
    background-color: lightgray;
    color:white;
    cursor: pointer;
}

.headingclr{
    font-weight: 600;
    color: grey;
}

.contentclr{
    font-weight: 600;
    color: black;
}

.btn-steelblue{
    background-color: transparent;
    color: steelblue;
    border: 1px solid steelblue;
}

.btn-steelblue:hover{
    background-color: steelblue;
    color: white;
}

.bolder{
    font-weight:600;
    color:steelblue;
}
.imgsize{
    width: 75px;
    height: 75px;
}

.textsiz{
    font-weight: 600;
    font-size: 8px;
}
.painrate{
    font-weight: 600;
    font-size: 9px;
    padding-left: 20px;
}

