<div class="col-md-12">
    <div class="col-md-12"><strong class="headerclr">Update Vitals Units</strong></div>
    <div class="col-md-12" style="padding:5px;">&nbsp;</div>
    <div class="col-md-12">
        <div class="col-md-6">
            <mat-form-field style="width:100%;">
                <input matInput placeholder="Type" [(ngModel)]="editdata.unit_type" [disabled]="disabledtype">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field style="width:100%;">
                <input matInput placeholder="Units" [(ngModel)]="editdata.units">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-steelblue pull-right" (click)="cancel()">Cancel</button>
            <button type="button" class="btn btn-steelblue pull-right" (click)="update_units(editdata)">Update</button>
        </div>
    </div>
</div>