<div class="" *ngFor="let sub_menu of acess_rights; let i =index;">
    <p class="" *ngFor="let sub_view_menu of sub_menu.sub_view; let i =index;">
        <span *ngIf="sub_view_menu.sub_view_name=='vitals'">
            <span *ngIf="datevalidation.nowdate">
                <button  *ngIf="sub_view_menu.add_edit && addvital_btn" class="btn btn-steelblue" id="addvital_btn" style="float:right;" routerLink='/Homescreen/Patientdetails/Addvitals'>Add Vitals</button>
        <button *ngIf="sub_view_menu.add_edit && editvital_btn" class="btn btn-steelblue" id="editvital_btn" style="float:right;"  (click)="edit_vitals(vitals_data)">Edit Vitals</button>
        </span>

        <!-- //(click)="edit_vitals(vitals_data)" -->

        <span *ngIf="vitals_data!=''">
       <div class="row" *ngIf="sub_view_menu.view">
            <div class="col-md-12">
                <div class="">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table borderless" style='text-align: center'>
                                    <thead class="headercolor">
                                        <tr>
                                            <th style='text-align: center'>Date</th>
                                            <th style='text-align: center'>Height</th>
                                            <th style='text-align: center'>Weight</th>
                                            <th style='text-align: center'>Temperature</th>
                                            <th style='text-align: center'>Pulse</th>
                                            <th style='text-align: center'>Respiratory Rate</th>
                                            <th style='text-align: center'>BP</th>
                                            <th style='text-align: center'>BMI</th>
                                            <!-- <th style='text-align: center'>BSA</th> -->
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let value of vitals_data.Formvalue">
                                        <tr>
                                            <!-- <td>Date</td> -->
                                            <td><span *ngIf="value.Date">{{value.Date | date: 'dd/MM/yyyy' }} </span> <span *ngIf="!value.Date">-</span> </td>
                                            <td><span *ngIf="value.Height">{{value.Height}} {{'cm'}}</span> <span *ngIf="!value.Height">-</span> </td>
                                            <td><span *ngIf="value.Weight">{{value.Weight}} {{'kg'}}</span> <span *ngIf="!value.Weight">-</span></td>
                                            <td><span *ngIf="value.Temp">{{value.Temp}} {{'Celsius'}}</span> <span *ngIf="!value.Temp">-</span></td>
                                            <td><span *ngIf="value.Pulse">{{value.Pulse}} {{'Rate/Min'}}</span> <span *ngIf="!value.Pulse">-</span></td>
                                            <td><span *ngIf="value.Resp">{{value.Resp}} {{'Rate/Min'}}</span> <span *ngIf="!value.Resp">-</span></td>
                                            <td> <span *ngIf="value.Systolic">{{value.Systolic}} </span>/<span *ngIf="value.Diastolic">{{value.Diastolic}}</span> {{'mm/Hg'}} </td>
                                            <td> <span *ngIf="value.Bmi"> {{value.Bmi}}</span></td>
                                            <!-- <td >{{"-"}}</td> -->
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="panel panel-default">
                        <div class="panel-body">
                            <p class="bolder">Preferred Language : English</p>
                            <div class='col-md-12'>
                            </div>
                        </div>
                    </div> -->
                    <p class="bolder">Pain Assessment</p>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class='col-md-12'>
                                <div class='col-md-2' *ngFor="let pain of vitals_data.Formvalue">
                                    <img src="../../assets/img/{{pain.Pain}}" alt="No img" class='imgsize' />
                                    <div class='textsiz'>{{pain.Painhurt}}</div>
                                    <div class='painrate'>{{pain.pain_assesment_painrate}}</div>
                                </div>
                                <!-- <div class='col-md-2' *ngIf="vitals_data.Formvalue.length==0">
                            <div class='painrate'>No data Found</div>
                        </div> -->
                            </div>
                        </div>
                    </div>
                    <p class="bolder">Notes</p>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            
                            <p class="" *ngFor="let notes of vitals_data.Formvalue"> &nbsp; &nbsp; &nbsp; &nbsp; {{notes.GeneralExamination||"-"}}</p>
                            <!-- <p class="" *ngIf="vitals_data.Formvalue.length==0"> &nbsp; &nbsp; &nbsp; &nbsp; No notes Found</p> -->

                        </div>
                    </div>
                    <p class='bolder'>Allergy</p>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table borderless" style="text-align:center;">
                                <thead class="headercolor">
                                    <tr>
                                        <th style='text-align: center'>Allergy Type</th>
                                        <th style='text-align: center'>Allergy To</th>
                                        <th style='text-align: center'>Severity</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let allergy of vitals_data.allergy">
                                    
                                        <tr *ngFor = "let notes of allergy.notes">
                                            <td>{{notes.allergy_type1||"-"}}</td>
                                            <td>{{notes.allergy_type2||"-"}}</td>
                                            <td>{{notes.allergy_severity||"-"}}</td>
                                        </tr> 
                                        
                                    
                                    <!-- <tr *ngIf="vitals_data.allergy.length==0">
                                <td>No data Found</td>
                            </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <p class='bolder'>Active Medication</p>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table borderless" style="text-align:center;">
                                    <thead class="headercolor">
                                        <tr>
                                            <th style='text-align: center'>Brand Name</th>
                                            <th style='text-align: center'>Generic Name</th>
                                            <th style='text-align: center'>Frequency</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let mdata of vitals_data.medication">
                                        <tr>
                                            <td>{{mdata.activemedication_brandname||"-"}} </td>
                                            <td>{{mdata.activemedication_genericname||"-"}}</td>
                                            <td>{{mdata.activemedication_frequency||"-"}}</td>
                                        </tr>
                                        <!-- <tr *ngIf="vitals_data.medication.length==0">
                                    <td>No data Found</td>
                                </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </span>
        <span>
        <div class="row" *ngIf="vitals_data ==''">
            <div class="col-md-12">
                <div class="">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p class="emptymsg">No Data Found. To Add Vitals, Click Add Vitals Button</p>
                            <div class='col-md-12'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </span>
        </span>
    </p>
</div>