.borderless td,
.borderless th {
    border: none;
}

.headercolor {
    color: steelblue;
    font-weight: bolder;
    background-color: #CCEEFB;
    font-weight: 600;
}

.btn-steelblue {
    background-color: transparent;
    color: steelblue;
    border: 1px solid steelblue;
}

.btn-steelblue:hover {
    background-color: steelblue;
    color: white;
}

.md-form label.active {
    font-size: 0.8rem;
    transform: translateY(-140%);
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.bolder {
    font-weight: 600;
}

.imgsize {
    width: 75px;
    height: 75px;
}

.textsiz {
    font-weight: 600;
    font-size: 10px;
}

.painrate {
    font-weight: 600;
    font-size: 15px;
    padding-left: 32px;
}

.tabbody tr td label {
    color: #595757;
    padding-top: 20px;
}


/*pain assesment scale styles*/

.vertical {
    border: none;
    border-left: 5px solid hsla(200, 10%, 50%, 100);
    height: 10vh;
    /* width: 1px;        */
}

.hoizondal {
    border: 5px solid hsla(200, 10%, 50%, 100);
    /* -moz-border-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
     -moz-border-top-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
     -moz-border-left-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
     -moz-border-right-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc; */
}

.line {
    width: 100%;
    height: 10px;
}

.multicolor-linear {
    background: linear-gradient(to right, #308A45, #419342, #8CBB33, #CEDF27, #F3DB1A, #F3AB0E, #F37D03, #EC5A00, #E13300, #D40400, #D50B0B);
}

.vl {
    border-left: 8px solid #308A45;
    height: 10px;
    position: absolute;
    left: 1.9%;
    margin-left: -3px;
    top: 10;
}

.vl1 {
    border-left: 8px solid #419342;
    height: 10px;
    position: absolute;
    left: 10%;
    margin-left: -3px;
    top: 10;
}

.vl2 {
    border-left: 8px solid #8CBB33;
    height: 10px;
    position: absolute;
    left: 19%;
    margin-left: -3px;
    top: 10;
}

.vl3 {
    border-left: 8px solid #CEDF27;
    height: 10px;
    position: absolute;
    left: 28%;
    margin-left: -3px;
    top: 10;
}

.vl4 {
    border-left: 8px solid #F3DB1A;
    height: 10px;
    position: absolute;
    left: 37%;
    margin-left: -3px;
    top: 10;
}

.vl5 {
    border-left: 8px solid #F3AB0E;
    height: 10px;
    position: absolute;
    left: 46%;
    margin-left: -3px;
    top: 10;
}

.vl6 {
    border-left: 8px solid #F37D03;
    height: 10px;
    position: absolute;
    left: 56%;
    margin-left: -3px;
    top: 10;
}

.vl7 {
    border-left: 8px solid #EC5A00;
    height: 10px;
    position: absolute;
    left: 67%;
    margin-left: -3px;
    top: 10;
}

.vl8 {
    border-left: 8px solid #E13300;
    height: 10px;
    position: absolute;
    left: 78%;
    margin-left: -3px;
    top: 10;
}

.vl9 {
    border-left: 8px solid #D40400;
    height: 10px;
    position: absolute;
    left: 89%;
    margin-left: -3px;
    top: 10;
}

.vl0 {
    border-left: 8px solid #D50B0B;
    height: 10px;
    position: absolute;
    left: 97.9%;
    margin-left: -3px;
    top: 10;
}


.pain_radiobtn{
    padding-top: 10px;
}
.painasses{
    text-align: center;
}

.paimg{
    width:100%;
    height:auto;
}


.gobalsearch {
    width: 375px !important;
    left: 50px !important;
    /*width: 100 !important;*/
}

.searchbuttondropdown {
    width: 400px;
    top: 16px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-bottom-color: steelblue;
}

.searchinputbutton {
    background-color: transparent;
    border: none;
    color: black;
    top: 3px;
}

.nopadding {
    padding-bottom: 0px;
    padding-top: 2px !important;
    background-color: #bbbbbb;
}

div-sep {
    border: 1px solid grey;
}

.padding-left-list {
    padding-left: 35px;
}

.search-acc-list {
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 0px;
    color: #35322e;
    font-size: 13px;
    width: 100% !important;
}

.search-acc-list:hover {
    background-color: rgba(232, 236, 238, 0.52);
}

.search-acc-list p:last-child {
    font-size: 12px;
    color: gray;
    margin-bottom: -6px;
}

.search-acc-list p:first-child {
    font-size: 13px;
    margin-bottom: 0px;
    color: black;
}

.gobal-loader {
    /*     background-image: url("ring.svg");
     background-repeat: no-repeat;*/
    position: relative;
    padding-left: 329px;
    top: -33px;
}

.gobal-highlight {
    background-color: rgb(245, 143, 32);
    color: #fff !important;
    display: inline;
}

.search-header {
    color: #24727B;
    font-size: 11px;
    padding-left: 8px;
    padding-bottom: 3px;
    padding-top: 13px;
    background-color: #dddddd;
}

.search-acc-list-ul {
    /* margin-left: 13px; */
    margin-right: 19px;
    max-height: 300px !important;
    overflow-y: auto;
    /* width: 100% !important */
}

.search-acc-list-ul .border-list {
    border-bottom: 1px solid #e4eaec;
    padding-bottom: 8px;
}

.searchinputboxes {
    background-color: transparent!important;
    border-top: none!important;
    border-right: none!important;
    border-bottom-color: lightslategray!important;
    border-left: none!important;
    color: #2e2c2c!important;
}

.searchmodalcustom {
    z-index: 10;
    position: absolute;
    background-color: white;
    /* top: 75px; */
    /* left: 215px; */
    /*height: auto;*/
    /* width: 500px; */
    padding: 10px 0px 20px 0px;
    box-shadow: -2px 2px 9px grey;
    height: 200px;
    overflow: scroll;
}

.searchcontentalign {
    margin-left: 30px;
}

.searclosebuttton {
    z-index: 21;
    position: absolute;
    /* background-color: white; */
    top: 75px;
    left: 659px;
    /* height: auto; */
    /* width: 500px; */
    padding: 10px 0px 20px 0px;
    cursor: pointer;
}

.clearicon {
    cursor: pointer;
    padding-top: 25px;
}