<div class="col-md-12">
    <div class="col-md-12"><strong class="headclr">Update Investigation Short Codes</strong></div>
    <div class="col-md-12" style="padding:5px;">&nbsp;</div>
    <div class="col-md-12">
        <div class="col-md-6">
            <mat-form-field style="width:100%;">
                <input matInput placeholder="Full Name" [(ngModel)]="editdata.item_long_description">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field style="width:100%;">
                <input matInput placeholder="Short Name" [(ngModel)]="editdata.shortcode">
            </mat-form-field>
        </div>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-steelblue pull-right" (click)="update_scode(editdata)">Update</button>
        <!-- <button type="button" class="btn btn-steelblue pull-right" (click)="closepopup()" >Cancel</button> -->
    </div>
</div>