.iconsize {
    font-size: 20px;
}

.borderless td,
.borderless th {
    border: none;
}

.headercolor {
    color: black;
    font-weight: 600;
    border-bottom: 1px solid grey;
}

.titleclr {
    color: steelblue !important;
}

.titlesize {
    font-weight: 600;
    color: grey;
    font-size: 12px;
}

.timeline {
    list-style: none;
    /* padding: 20px 0 20px; */
    position: relative;
    padding: 0px;
    margin: 0px;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline>li {
    /* margin-bottom: 20px; */
    position: relative;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li>.timeline-panel {
    width: 43%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    padding-top: 10px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline>li>.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline>li>.timeline-badge {
    width: 33px;
    height: 33px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 28px;
    left: 52%;
    margin-left: -35px;
    background-color: white;
    font-weight: 600;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    border-left: 0px;
}

.timeline-border-ip {
    border-left: 10px solid steelblue !important;
}

.timeline-border-op {
    border-left: 10px solid #F39592 !important;
}

.timeline-border-ip-inv {
    border-right: 10px solid steelblue !important;
}

.timeline-border-op-inv {
    border-right: 10px solid #F39592 !important;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body>p,
.timeline-body>ul {
    margin-bottom: 0;
}

.timeline-body>p+p {
    margin-top: 5px;
}

.timeline-badge.op {
    border: 2px solid #d9534f !important;
    color: #d9534f !important;
}

.timeline-badge.ip {
    border: 2px solid steelblue !important;
    color: steelblue !important;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

@media screen and (max-width: 768px) and (min-width: 400px) {
    .timeline>li>.timeline-badge {
        width: 33px;
        height: 33px;
        line-height: 30px;
        font-size: 12px;
        text-align: center;
        position: absolute;
        top: 28px;
        left: 53%;
        margin-left: -35px;
        background-color: white;
        font-weight: 600;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }
}