<div class="">
    <p class="pull-left" style='cursor:pointer;' (click)="graphicalpopupreopen()"><i class="fa fa-backward" aria-hidden="true"></i>&nbsp;</p>
    <p class="textheader">Result<span class='pull-right' style='cursor:pointer;' (click)="graphicalpopupclose()">X </span></p>
    <div class="table-responsive">
        <table class="table table borderless" style='text-align: center'>
            <thead class="tableheadercolor">
                <tr>
                    <th style='text-align: center'>&nbsp;</th>
                    <th style='text-align: center'>Test</th>
                    <th style='text-align: center'>Normal Range</th>
                    <th style='text-align: center'>Msr.Unit</th>
                    <th style='text-align: center'>22/05/2017</th>
                    <th style='text-align: center'>22/05/2017</th>
                    <th style='text-align: center'>22/05/2017</th>
                    <th style='text-align: center'>22/05/2017</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&nbsp; </td>
                    <td>Thyroid</td>
                    <td>21-32</td>
                    <td>mmoL/L</td>
                    <!-- ../globaluat/assets/img/01.png -->
                    <td><img src="../../assets/img/linechart3.png" alt="Global1"></td>
                    <td><img src="../../assets/img/linechart2.png" alt="Global2"></td>
                    <td><img src="../../assets/img/linechart2.png" alt="Global3"></td>
                    <td><img src="../../assets/img/linechart3.png" alt="Global4"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>