<div class="col-md-12 col-sm-12 col-xs-12 outerdiv">
  <div class="col-md-12 col-sm-12 col-xs-12 carddiv">
    <div class="col-md-1 col-sm-1 col-xs-1" style="float:left">
      <div class="checkbox" style="float: right;">
        <label><mat-checkbox color='primary'></mat-checkbox></label>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5 contentleft">

      <div class="col-md-12 col-sm-12 col-xs-12 contentleft1">
        <label>Patient Name</label>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 contentleft2">
        <label>Mahendra</label>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5 contentrgt">

      <div class="col-md-12 col-sm-12 col-xs-12 contentleft1">
        <label>UHID No</label>


      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 contentleft2">
        <label>126352713627</label>
      </div>

    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="float:left">
      <!-- <div class="checkbox" style="float: right;">
        <label><mat-checkbox color='primary'></mat-checkbox></label>
      </div> -->
    </div>

  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 carddiv">
    <div class="col-md-1 col-sm-1 col-xs-1" style="float:left">
      <div class="checkbox" style="float: right;">
        <label><mat-checkbox color='primary'></mat-checkbox></label>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5 contentleft">

      <div class="col-md-12 col-sm-12 col-xs-12 contentleft1">
        <label>Father / Husband Name</label>

      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 contentleft2">
        <label>Raja</label>
      </div>

    </div>
    <div class="col-md-5 col-sm-5 col-xs-5 contentrgt">

      <div class="col-md-12 col-sm-12 col-xs-12 contentleft1">
        <label>Address</label>


      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 contentleft2">
        <label>A107 Krishna Nagar,Chennai</label>
      </div>

    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="float:left">
      <div class="checkbox" style="float: right;">
        <label><mat-checkbox color='primary'></mat-checkbox></label>
      </div>
    </div>

  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 carddiv">
    <div class="col-md-1 col-sm-1 col-xs-1" style="float:left">
      <div class="checkbox" style="float: right;">
        <label><mat-checkbox color='primary'></mat-checkbox></label>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5 contentleft">

      <div class="col-md-12 col-sm-12 col-xs-12 contentleft1">


        <label>Date Of Birth</label>

      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 contentleft2">
        <label>01-01-1994</label>
      </div>

    </div>
    <div class="col-md-5 col-sm-5 col-xs-5 contentrgt">

      <div class="col-md-12 col-sm-12 col-xs-12 contentleft1">


        <label>Blood Group</label>


      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 contentleft2">
        <label>O+ve</label>
      </div>


    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="float:left">
      <div class="checkbox" style="float: right;">
        <label><mat-checkbox color='primary'></mat-checkbox></label>
      </div>
    </div>

  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 carddiv">
    <div class="col-md-1 col-sm-1 col-xs-1" style="float:left">
      <div class="checkbox" style="float: right;">
        <label><mat-checkbox color='primary'></mat-checkbox></label>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5 contentleft">

      <div class="col-md-12 col-sm-12 col-xs-12 contentleft1">


        <label>Phone</label>


      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 contentleft2">
        <label>9876543214</label>
      </div>

    </div>
    <div class="col-md-5 col-sm-5 col-xs-5 contentrgt">

      <div class="col-md-12 col-sm-12 col-xs-12 contentleft1">


        <label>Email</label>


      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 contentleft2">
        <label>Krishna@gmail.com</label>
      </div>

    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="float:left">
      <div class="checkbox" style="float: right;">
        <label><mat-checkbox color='primary'></mat-checkbox></label>
      </div>
    </div>

  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 carddiv">
    <div class="col-md-1 col-sm-1 col-xs-1" style="float:left">
      <div class="checkbox" style="float: right;">
        <label><mat-checkbox color='primary'></mat-checkbox></label>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5 contentleft">

      <div class="col-md-12 col-sm-12 col-xs-12 contentleft1">


        <label>Encounter Number</label>

      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 contentleft2">
        <label>15242653</label>
      </div>

    </div>
    <div class="col-md-5 col-sm-5 col-xs-5 contentrgt">

      <div class="col-md-12 col-sm-12 col-xs-12 contentleft1">

        <label>IPNR</label>


      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 contentleft2">
        <label>Raja</label>
      </div>

    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="float:left">
      <div class="checkbox" style="float: right;">
        <label><mat-checkbox color='primary'></mat-checkbox></label>
      </div>
    </div>

  </div>


  <div class="col-md-12 col-sm-12 col-xs-12 carddiv">
    <div class="col-md-1 col-sm-1 col-xs-1" style="float:left">
      <div class="checkbox" style="float: right;">
        <label><mat-checkbox color='primary'></mat-checkbox></label>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5 contentleft">

      <div class="col-md-12 col-sm-12 col-xs-12 contentleft1">


        <label>Registration Date and Time</label>


      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 contentleft2">
        <label>01/07/1995</label>
      </div>

    </div>
    <div class="col-md-5 col-sm-5 col-xs-5 contentrgt">

      <div class="col-md-12 col-sm-12 col-xs-12 contentleft1">


        <label>Admission Class</label>

      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 contentleft2">
        <label>Foirst</label>
      </div>

    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="float:left">
      <div class="checkbox" style="float: right;">
        <label><mat-checkbox color='primary'></mat-checkbox></label>
      </div>
    </div>
  </div>


  <div class="col-md-12 col-sm-12 col-xs-12 carddiv">
    <div class="col-md-1 col-sm-1 col-xs-1" style="float:left">
      <div class="checkbox" style="float: right;">
        <label><mat-checkbox color='primary'></mat-checkbox></label>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5 contentleft">

      <div class="col-md-12 col-sm-12 col-xs-12 contentleft1">


        <label>Previlege Card No</label>


      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 contentleft2">
        <label>YUYUI281731</label>
      </div>

    </div>
    <div class="col-md-5 col-sm-5 col-xs-5 contentrgt">

      <div class="col-md-12 col-sm-12 col-xs-12 contentleft1">


        <label> Walk In</label>

      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 contentleft2">
        <label>Hospital</label>
      </div>

    </div>
    <div class="col-md-1 col-sm-1 col-xs-1" style="float:left">
      <div class="checkbox" style="float: right;">
        <label><mat-checkbox color='primary'></mat-checkbox></label>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 footerdiv">
    <div class="col-md-7 col-sm-7 col-xs-7">
      &nbsp;
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
      <button type="button" class="btn btn-steelblue" style="border-radius: 0px;padding: 10px 25px">SAVE & PREVIEW</button>
      <button type="button" class="btn btn-steelblue" style="border-radius: 0px;padding: 10px 25px;">PRINT</button>
    </div>
  </div>
</div>