<button type="button" class="btn btn-steelblue pull-right btn-md" routerLink='/Homescreen/Patientdetails/Edithistory'>EDIT</button>
<div class="row" style='padding:10px;'>
  <div class="col-md-12">
    <div class="">
      <p class="headertextcolor">
        <mat-checkbox color='primary'></mat-checkbox>&nbsp; <strong>Chief Complaints</strong></p>
      <div class="panel panel-default" style='padding-left: 10px;'>
        <button type="button" class="btn btn-white" routerLink='Prescription'>Fever 4 days</button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>cold 4 days</button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>cough 3 days</button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>Typhoid</button>
        <div class="panel-body">
        </div>
      </div>
      <p class="headertextcolor">
        <mat-checkbox color='primary'></mat-checkbox>&nbsp; <strong>History of Present illness</strong></p>
      <div class="panel panel-default" style='padding-left: 10px;'>
        <button type="button" class="btn btn-white" routerLink='Prescription'>Fever 4 days</button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>cold 4 days</button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>cough 3 days</button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>Typhoid</button>
        <div class="panel-body">
        </div>
      </div>
      <p class="headertextcolor">
        <mat-checkbox color='primary'></mat-checkbox>&nbsp; <strong>Past Medical History</strong></p>
      <div class="panel panel-default" style='padding-left: 10px;'>
        <button type="button" class="btn btn-white" routerLink='Prescription'>Fever 4 days</button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>cold 4 days</button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>cough 3 days</button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>Typhoid</button>
        <div class="panel-body">
        </div>
      </div>
    </div>
    <button class="btn btn-steelblue pull-right">Save & Preview</button>
  </div>
</div>