<!-- <div class="container-fluid">
  <p class="pull-right textalign" (click)="investigationlist()">Investiagtion List
    <md-icon mdSuffix>featured_play_list</md-icon>
  </p>
  <mat-select class="pull-right">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{ food.viewValue }}
    </mat-option>
  </mat-select>
</div> -->
<div class="">
  <p class="header">Department Name</p>
  <div class="divalignment">
    <p>
      <mat-checkbox color='primary'></mat-checkbox>&nbsp; Category 1</p>
    <span class="btn-group btn-group-md" id="withBtnGroup" aria-label="Page Header Actions" role="group">
      <button type="button" class="btn btn-white">
        <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span>
    </button>
    </span>
    <span class="btn-group btn-group-md" id="withBtnGroup" aria-label="Page Header Actions" role="group">
      <button type="button" class="btn btn-white">
        <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span>
    </button>
    </span>
    <span class="btn-group btn-group-md" id="withBtnGroup" aria-label="Page Header Actions" role="group">
      <button type="button" class="btn btn-white">
        <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span>
    </button>
    </span>
    <span class="btn-group btn-group-md" id="withBtnGroup" aria-label="Page Header Actions" role="group">
      <button type="button" class="btn btn-white">
        <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span>
    </button>
    </span>
    <span class="btn-group btn-group-md" id="withBtnGroup" aria-label="Page Header Actions" role="group">
      <button type="button" class="btn btn-white">
        <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span>
    </button>
    </span>
  </div>

  <div class="divalignment">
    <p>
      <mat-checkbox color='primary'></mat-checkbox>&nbsp; Category 2</p>
    <span class="btn-group btn-group-md" id="withBtnGroup" aria-label="Page Header Actions" role="group">
    <button type="button" class="btn btn-white">
      <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span>
    </button>
    </span>
    <span class="btn-group btn-group-md" id="withBtnGroup" aria-label="Page Header Actions" role="group">
    <button type="button" class="btn btn-white">
      <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span>
    </button>
    </span>
    <span class="btn-group btn-group-md" id="withBtnGroup" aria-label="Page Header Actions" role="group">
    <button type="button" class="btn btn-white">
      <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span>
    </button>
    </span>
  </div>

  <div class="divalignment">
    <p>
      <mat-checkbox color='primary'></mat-checkbox>&nbsp; Category 3</p>
    <span class="btn-group btn-group-md" id="withBtnGroup" aria-label="Page Header Actions" role="group">
  <button type="button" class="btn btn-white">
    <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span>
    </button>
    </span>
    <span class="btn-group btn-group-md" id="withBtnGroup" aria-label="Page Header Actions" role="group">
  <button type="button" class="btn btn-white">
    <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span>
    </button>
    </span>
    <span class="btn-group btn-group-md" id="withBtnGroup" aria-label="Page Header Actions" role="group">
  <button type="button" class="btn btn-white">
    <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span>
    </button>
    </span>
    <span class="btn-group btn-group-md" id="withBtnGroup" aria-label="Page Header Actions" role="group">
  <button type="button" class="btn btn-white">
    <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span>
    </button>
    </span>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-steelblue pull-right" (click)="investigationlistpopupclose()">Save</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-steelblue pull-right">Save & Preview</button>
  </div>
</div>