.size{
    width:40%;
}
.btn-steelblue{
    background: steelblue;
    color:white;
}
.btn-steelblue:hover{
    background: white;
    color:steelblue;
    border:1px solid steelblue;
}
.headerclr{
    font-weight:600;
    color:steelblue;
}
.material-icons{
    cursor: pointer;
}
.eyesize-slash{
    font-size: 20px;
    cursor: pointer;
}