<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="headerclr">Change Password</p>
        <div class='col-md-12'>
          <mat-form-field class="size" style="padding-top:5px;">
            <input matInput type="password" placeholder="Current Password" [(ngModel)]="data.currentpass">
          </mat-form-field>
          <span [hidden]="openeye_h0">
            <i class="material-icons" (click)="openeye_0()">remove_red_eye</i>
          </span>
          <span [hidden]="closeeye_h0">
            <i class="fa fa-eye-slash eyesize-slash" aria-hidden="true" (click)="closeeye_0()"></i>
          </span>
        </div>
        <div class='col-md-12'>
          <mat-form-field class="size">
            <input matInput type="password" placeholder="New Password" [(ngModel)]="data.newpass">
          </mat-form-field>
          <span [hidden]="openeye_h1">
            <i class="material-icons" (click)="openeye_1()">remove_red_eye</i>
          </span>
          <span [hidden]="closeeye_h1">
            <i class="fa fa-eye-slash eyesize-slash" aria-hidden="true" (click)="closeeye_1()"></i>
          </span>
        </div>
        <div class='col-md-12'>
          <mat-form-field class="size">
            <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="data.re_newpass">
          </mat-form-field>
          <span [hidden]="openeye_h2">
            <i class="material-icons" (click)="openeye_2()">remove_red_eye</i>
          </span>
          <span [hidden]="closeeye_h2">
            <i class="fa fa-eye-slash eyesize-slash" aria-hidden="true" (click)="closeeye_2()"></i>
          </span>
        </div>
        <div class='col-md-12'>
          <span>
            <button type="button" class="btn btn-steelblue" (click)="changePasswd(data)">save</button>        
          </span>
        </div>
      </div>
    </div>
  </div>
</div>