.tbheader{
    color:steelblue;
}
.tbheader th{
    text-align: center;
}
.headerclr{
    color:steelblue;
}
.btn-steelblue{
    background-color: transparent;
    color: steelblue;
    border: 1px solid steelblue;
}

.btn-steelblue:hover{
    background-color: steelblue;
    color: white;
}