.aligntext{
    padding-left: 50px;
}

.btn-steelblue{
    background-color: transparent;
    color: steelblue;
    border: 1px solid steelblue;
    font-size: 10px;
}

.btn-steelblue:hover{
    background-color: steelblue;
    color: white;
    font-size: 10px;
}