<button type="button" class="btn btn-steelblue pull-right btn-md" routerLink='/Homescreen/Patientdetails/History'>SAVE</button>
<div class="row">
  <div class="col-md-12">

    <div class="">
      <p class="headertextcolor"><strong>Chief Complaints</strong></p>
      <div class="panel panel-default panelalignment">
        <div class="">
          <mat-form-field>
            <input matInput value="Fever 4 days"><br>
          </mat-form-field>
        </div>
        <p class='pull-right' style='color:steelblue; font-size:20px;'><i class="fa fa-plus-square" aria-hidden="true"></i></p>
        
        <button type="button" class="btn btn-white" routerLink='Prescription'>Fever 4 days <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span></button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>cold 4 days <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span></button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>cough 3 days <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span></button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>Typhoid <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span></button>
        <div class="panel-body">
        </div>
      </div>
      <p class="headertextcolor"><strong>History of Present illness</strong></p>
      <div class="panel panel-default panelalignment">
        <div class="">
          <mat-form-field>
            <input matInput value="cold 4 days"><br>
          </mat-form-field>
        </div>
        <p class='pull-right' style='color:steelblue; font-size:20px;'><i class="fa fa-plus-square" aria-hidden="true"></i></p>

        <button type="button" class="btn btn-white" routerLink='Prescription'>Fever 4 days <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span></button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>cold 4 days <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span></button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>cough 3 days <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span></button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>Typhoid <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span></button>
        <div class="panel-body">
        </div>
      </div>
      <p class="headertextcolor"><strong>Past Medical History</strong></p>
      <div class="panel panel-default panelalignment">
        <div class="">
          <mat-form-field>
            <input matInput value="Medical History"><br>
          </mat-form-field>
        </div>
        <p class='pull-right' style='color:steelblue; font-size:20px;'><i class="fa fa-plus-square" aria-hidden="true"></i></p>

        <button type="button" class="btn btn-white" routerLink='Prescription'>Fever 4 days <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span></button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>cold 4 days <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span></button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>cough 3 days <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span></button>
        <button type="button" class="btn btn-white" routerLink='Prescription'>Typhoid <span class="hidden-xs">Appointments</span> <span class="badge badgewhite">X</span></button>
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
</div>