<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="" style="font-weight: 600;color:steelblue;">Prescription</p>
                <div class="col-md-12" *ngFor="let prescri_mail of pres_data">
                    <p style="font-weight: 600;">{{prescri_mail.cretaedby}} - {{prescri_mail.CD}} </p>
                    <div class="table-responsive">
                        <table class="table table borderless" style='text-align: center'>
                            <thead class="tableheadercolor">
                                <tr>
                                    <th style='text-align: center'>&nbsp;</th>
                                    <th style='text-align: center'>Medication Name</th>
                                    <th style='text-align: center'>Preparation</th>
                                    <th style='text-align: center'>Route</th>
                                    <th style='text-align: center'>Frequency</th>
                                    <th style='text-align: center'>Duration</th>
                                    <th style='text-align: center'>Medicine Timing</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prescri of prescri_mail.question_option">
                                    <td>&nbsp; </td>
                                    <td>{{prescri.brand_name}}<br>{{prescri.generic_name}}</td>
                                        <td> - </td>
                                        <td> - </td>
                                        <td>{{prescri.frequency}}</td>
                                        <td>{{prescri.duration_no}} {{prescri.duration_capt}}</td>
                                        <td> {{prescri.timing}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="btn btn-steelblue pull-right" (click)="repaetr_presc(prescri_mail.question_option)">Repeat this Prescription</button>
                </div>
            </div>
        </div>
    </div>
</div>